/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

#define LOWER 1
#define RAISE 2
#define GAMING 3

&led_strip {
    chain-length = <68>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                          &kp N6     &kp N7        &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp F     &kp P     &kp G                           &kp J      &kp L         &kp U      &kp Y    &kp SEMI  &kp RIGHT_SHIFT
&kp LSHFT  &kp A   &kp R   &kp S     &kp T     &kp D                           &kp M      &kp N         &kp E      &kp I    &kp O     &kp SQT
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V     &kp B      &kp LBKT  &kp RBKT   &kp K      &kp H         &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_CONTROL
                           &kp LALT  &kp LGUI  &mo LOWER  &kp RET   &kp SPACE  &mo RAISE  &kp LEFT_ALT  &kp RGUI
            >;
        };

        lower_layer {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0        &bt BT_SEL 1      &bt BT_SEL 2        &bt BT_SEL 3   &bt BT_SEL 4                        &bl BL_TOG  &bl BL_INC  &bl BL_DEC  &bl BL_CYCLE  &trans     &trans
&kp F1      &kp F2              &kp F3            &kp F4              &kp F5         &kp F6                              &kp F7      &kp F8      &kp F9      &kp F10       &kp F11    &kp F12
&trans      &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(DOWN_ARROW)  &kp LC(RIGHT)  &trans                              &trans      &kp LEFT    &kp UP      &kp DOWN      &kp RIGHT  &trans
&trans      &trans              &trans            &trans              &trans         &trans        &trans     &trans     &trans      &trans      &trans      &trans        &trans     &trans
                                                  &trans              &trans         &trans        &kp SPACE  &kp ENTER  &trans      &trans      &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &trans  &trans  &trans  &ext_power EP_ON  &ext_power EP_TOG                        &trans   &trans        &trans         &trans                &trans            &trans
&trans  &trans  &trans  &trans  &trans            &trans                                   &trans   &kp EQUAL     &trans         &trans                &trans            &trans
&trans  &kp F1  &kp F2  &kp F3  &kp F4            &kp F5                                   &kp F6   &kp SLASH     &kp BACKSLASH  &kp NON_US_BACKSLASH  &kp LS(NUMBER_1)  &trans
&trans  &kp F7  &kp F8  &kp F9  &kp F10           &kp F11            &trans     &trans     &kp F12  &kp KP_MINUS  &kp KP_PLUS    &kp KP_EQUAL          &kp LS(MINUS)     &trans
                        &tog 4  &trans            &trans             &kp SPACE  &kp ENTER  &trans   &trans        &tog GAMING
            >;
        };

        gaming_layer {
            bindings = <
&kp GRAVE         &kp N1  &kp N2  &kp N3        &kp N4            &kp N5                             &kp N6     &kp N7    &kp N8       &kp N9   &kp N0    &kp BACKSPACE
&kp TAB           &kp Q   &kp W   &kp E         &kp R             &kp T                              &kp Y      &kp U     &kp I        &kp O    &kp P     &kp MINUS
&kp LEFT_CONTROL  &kp A   &kp S   &kp D         &kp F             &kp G                              &kp H      &kp J     &kp K        &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT    &kp Z   &kp X   &kp C         &kp V             &kp B         &kp UP     &kp RBKT  &kp N      &kp M     &kp COMMA    &kp DOT  &kp FSLH  &kp ESCAPE
                                  &kp LEFT_GUI  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &kp RET   &mo RAISE  &kp LALT  &tog GAMING
            >;
        };

        COLEMAK_DH {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp B                   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp G                   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp D   &kp V   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &tog 4
            >;
        };
    };
};
